<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suas Informações</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo2.css') }}">
</head>
<body>
    <form method="post" action="/dados">
        <label>Email:</label>
        <div class="input">
            <input type="email" name="mail_pesquisa" id="mail_pesquisa" placeholder="Ex.: xxxxx.xxxx@gmail.com" required>
        </div>
        <div id="btn">
            <button type="submit">Enviar</button>
        </div>
    </form>
    <table>
        <tr>
            <th>Nome</th>
        </tr>
        <tr>
            <td id="nome">{{ nome2 }}</td>
        </tr>
        <tr>
            <th>E-mail</th>
        </tr>
        <tr>
            <td id="mail">{{ mail2 }}</td>
        </tr>
        <tr>
            <th>Nascimento</th>
        </tr>
        <tr>
            <td id="nascimento">{{ nascimento2 }}</td>
        </tr>
        <tr>
            <th>Senha</th>
        </tr>
        <tr>
            <td id="senhaa"><a href="{{ url_for('atualizar') }}"><button type="submit" id="btn">Alterar Senha</button></a></td>
        </tr>
    </table>
</body>
</html>