<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Introdução ao Flask</title>
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo">Primeira vez no Flask</h1>
                <strong><nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('home') }}">Página Inicial</a></li> <!-- Link da página principal -->
                        <li><a href="{{ url_for('secundaria') }}">Nosso outro site</a></li> <!-- Link do segundo site -->
                    </ul>
                </nav></strong>
            </div>
        </header>
    </body>
</html>