@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root {
    --violet-light: #B492FD;
    --info-side-background: #ad4ef5;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    font-family: 'Silkscreen', sans-serif;
}
label{
    font-weight: bold;
}
p {
    text-decoration: underline;
}

.half-page {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.left-half {
    background-color: white;
}

.right-half {
    background: linear-gradient(92.15deg, 
        var(--violet-light) 30.13%, 
        var(--info-side-background) 95.43%);

}
img {
    display: flex;
    object-fit: cover;
    border: 7px outset;
    align-items: center;

    width: 700px;
    height: 700px;
    max-width: 700px;
    max-height: 700px; 
    object-fit: cover;
}
.my-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 16px;
    max-width: 460px;
    min-width: 300px;
    width: 100%;
    padding: 48px 32px;
    height: fit-content;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}