<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suas Informações</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo2.css') }}">
</head>
<body>
    <form class="my-form">
        <div class="form-welcome-row">
            <h1>Informações</h1>
        </div>
        <div class="text-field">
            <label for="email">Nome:</label>
            <p>{{ nome2 }}</p>
        </div>
        <div class="text-field">
            <label for="password">E-mail:</label>
            <p>{{ mail2 }}</p>
        </div>
        <div class="text-field">
            <label for="email">Nascimento:</label>
            <p>{{ nascimento2 }}</p>
        </div>
        <div class="text-field">
            <label for="email">Senha:</label>
            <p>**********</p>
            <button type="submit" id="btn"><a href="{{ url_for('atualizar') }}">Alterar Senha</a></button>
        </div>
    </form>
</body>
</html>