<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Deu errado :(</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo3.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Ops!</h1>
            <div>
                    <p>Olá, parece que o pokemon com essas caracteristicas já existe. Confira seus dados com atenção e tente novamente!</p>
            </div>
        </div>
    </header>    
</body>
</html>