<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Início</title>
    <link rel="stylesheet" href="static/css/estilo3.css">
</head>
<!-- Barra de pesquisa-->
<body>
    <div class="search-bar">
        <form action="/pokemons" method="post">
            <label for="search">Pesquisar:</label>
            <input type="text" id="search" name="search" placeholder="Digite sua pesquisa aqui">
            <input type="submit" value="Pesquisar">
        </form>
    </div> 
<!-- FIm da barra de pesquisa-->

<section class="pokemons-container">
<div class="quadro-pokemon" id="charmander">

    <a href="###"><img src="imagens-pokemons/charmander.png" alt="charmander">
    <h2>Charmander</h2>
    </a>
</div>

<div class="quadro-pokemon" id="squirtle">
    <a href="###"><img src="imagens-pokemons/squirtle.png" alt="squirtle">
    <h2>Squirtle</h2>
    </a>
</div>

<div class="quadro-pokemon" id="bulbasaur">
    <a href="###"><img src="imagens-pokemons/bulbasaur.png" alt="bulbasaur">
    <h2>Bulbasaur</h2>
    </a>
</div>

<div class="quadro-pokemon" id="caterpie">
    <a href="###"><img src="imagens-pokemons/caterpie.png" alt="caterpie">
    <h2>Caterpie</h2>
    </a>
</div>







</section>
    <!--  div barra lateral --> 
    <div class="sidebar" id="sidebar">
        <a href="#" onclick="toggleSubOptions('sub-options-1')">Tipo</a>
        <ul class="sub-options" id="sub-options-1">
            <li><a href="#">Normal</a></li>
            <li><a href="#">Fogo</a></li>
            <li><a href="#">Água</a></li>
            <li><a href="#">Grama</a></li>
            <li><a href="#">Voador</a></li>
            <li><a href="#">Lutador</a></li>
            <li><a href="#">Veneno</a></li>
            <li><a href="#">Elétrico</a></li>
            <li><a href="#">Terra</a></li>
            <li><a href="#">Pedra</a></li>
            <li><a href="#">Psíquico</a></li>
            <li><a href="#">Gelo</a></li>
            <li><a href="#">Inseto</a></li>
            <li><a href="#">Fantasma</a></li>
            <li><a href="#">Ferro</a></li>
            <li><a href="#">Dragão</a></li>
            <li><a href="#">Sombrio</a></li>
            <li><a href="#">Fada</a></li>
        </ul>
        <a href="#" onclick="toggleSubOptions('sub-options-2')">Raridade</a>
        <ul class="sub-options" id="sub-options-2">
            <li><a href="#">Muito comum</a></li>
            <li><a href="#">Comum</a></li>
            <li><a href="#">Incomum</a></li>
            <li><a href="#">Raro</a></li>
            <li><a href="#">Muito raro</a></li>
            <li><a href="#">Épico</a></li>
            <li><a href="#">Lendários</a></li>
        </ul>
    </div>
    <!-- Fim da barra lateral -->


    <script>
        function toggleSubOptions(id) {
            var subOptions = document.getElementById(id);
            subOptions.style.display = (subOptions.style.display === 'none') ? 'block' : 'none';
        }

    </script>
</body>
</html>